<section id="user-groups">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-sm-6">
              <h4 class="card-title">Groepen</h4>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="card-block">
            <div *ngIf="!loading" style="display: inline-block; float: left; height: auto">
              <table _ngcontent-c24="" class="table table-responsive-md text-center">
                <tbody>
                <tr *ngFor="let travelGroup of groups">
                  <td>{{travelGroup.groupName}}</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
