<div style="max-height: 200px; overflow: hidden;">
  <div class="users-list-padding" style="float:left; overflow-y: auto">
    <div *ngFor="let user of users">
      <div style="float: left">
        <i class="fas fa-user-circle userlogo"></i>
      </div>
      <div style="margin-left: 5px"><p>{{user.firstName + " " + user.lastName}}</p></div>
    </div>
  </div>
</div>

<h1>Demo for Messaging Service</h1>

<p>Status : {{state}}</p>

<button (click)="sendAction()">SEND</button>

<h3>History</h3>
<ul>
  <li *ngFor="let message of messageHistory">{{message}}</li>
</ul>
