<div class="media-list media-bordered">
  <div>
    <h3>Groepsleden</h3>
    <button style="align-content: center" (click)="updateGroup()" class="btn btn-primary">
    <span>Groep bijwerken</span>
    <i *ngIf="loading" class="ft-loader spinner right"></i>
    </button>
  </div>
  <div class="media" *ngFor="let user of users">
    <a>
      <img alt="Generic placeholder image"
           class="media-object d-flex mr-2 round-media"
           [src]="'assets/img/portrait/avatars/' + user.avatar"
           style="width: 50px;height: 50px;"></a>
    <div class="media-body"><h6 class="media-heading"
                                style="margin-top: 20px ">{{user.firstName + " " + user.lastName}}</h6></div>
  </div>
</div>
