  <ul class="list-group">
    <li class="list-group-item list-group-item-action  active">
      <table>
        <thead>
        <tr>
          <th><i class="fas fa-calendar-week fa-5x"></i></th>
          <th><i class="fas fa-hand-holding-usd fa-5x"></i></th>
          <th><i class="fas fa-users fa-5x"></i></th>
          <th> <i class="fas fa-cash-register fa-5x"></i></th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td><p>{{booking.bookingDate | date}}</p></td>
          <td><p> <i class="fas fa-euro-sign"></i> {{booking.getTotalPrice()}}</p></td>
          <td><p>{{booking.numberOfTravelers}}</p></td>
          <td><p>{{booking.paid ? 'Voldaan' : 'Niet voldaan'}}</p></td>
        </tr>
        </tbody>
      </table>
    </li>
  </ul>
  <div class="cardWrap">
    <div class="card cardLeft">
      <h1>{{trip.name}}</h1>
      <p>{{trip.summary}}</p>

      <h3>Geboekte Items</h3>
      <div class="media-list media-bordered">
        <div class="media" *ngFor="let bookingItem of booking.bookingItems">
          <div class="media-body">
            <h4 class="media-heading">{{bookingItem.name}}</h4>
            <p>{{bookingItem.description}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
