<table _ngcontent-c7="" class="table table-responsive-md text-center">
  <thead _ngcontent-c7="">
    <tr _ngcontent-c7="">
      <th _ngcontent-c7=""></th>
      <th _ngcontent-c7=""></th>
      <th _ngcontent-c7="">Prijs</th>
      <th _ngcontent-c7="">Aantal personen</th>
      <th _ngcontent-c7="">Bedrag</th>
    </tr>
  </thead>
  <tbody _ngcontent-c7="">
    <tr _ngcontent-c7="">
      <td _ngcontent-c7="">
        <img _ngcontent-c7="" alt="" class="rounded" src="{{travel.trip.imageUrl}}" style="height: 90px; width: 90px; object-fit: cover;">
      </td>
      <td _ngcontent-c7="">{{booking.trip.name}}</td>
      <td _ngcontent-c7="">€ {{booking.trip.totalPrice}}</td>
      <td _ngcontent-c7="">{{booking.numberOfTravelers}}
        <div _ngcontent-c7="" class="btn-group ml-1">
          <a _ngcontent-c7="" class="bg-info px-1 py-1 white font-medium-5" href="javascript:void(0)">-</a>
          <a _ngcontent-c7="" class="bg-info px-1 py-1 white font-medium-5" href="javascript:void(0)">+</a>
        </div>
      </td>
      <td _ngcontent-c7="">€ {{booking.trip.totalPrice * booking.numberOfTravelers}}</td>
    </tr>

    <tr _ngcontent-c7="" *ngFor="let hotel of booking.hotels">
      <td _ngcontent-c7="">
        <img _ngcontent-c7="" alt="" class="rounded" src="{{hotel.imageBlob}}" style="height: 90px; width: 90px; object-fit: cover;">
      </td>
      <td _ngcontent-c7="">{{hotel.name}}</td>
      <td _ngcontent-c7="">€ {{hotel.price}}</td>
      <td _ngcontent-c7="">{{hotel.amount}}
        <div _ngcontent-c7="" class="btn-group ml-1">
          <a _ngcontent-c7="" class="bg-info px-1 py-1 white font-medium-5" href="javascript:void(0)">-</a>
          <a _ngcontent-c7="" class="bg-info px-1 py-1 white font-medium-5" href="javascript:void(0)">+</a>
        </div>
      </td>
      <td _ngcontent-c7="">€ {{hotel.price * hotel.amount}}</td>
      <td _ngcontent-c7=""></td>
    </tr>

    <tr _ngcontent-c7="" *ngFor="let bookableTripItem of booking.tripItems">
      <td _ngcontent-c7="">
        <img _ngcontent-c7="" alt="" class="rounded" src="{{bookableTripItem.imageBlob}}" style="height: 90px; width: 90px; object-fit: cover;">
      </td>
      <td _ngcontent-c7="">{{bookableTripItem.name}}</td>
      <td _ngcontent-c7="">€ {{bookableTripItem.price}}</td>
      <td _ngcontent-c7="">{{bookableTripItem.amount}}
        <div _ngcontent-c7="" class="btn-group ml-1">
          <a _ngcontent-c7="" class="bg-info px-1 py-1 white font-medium-5" (click)="decreaseTripItemAmount(bookableTripItem.id)">-</a>
          <a _ngcontent-c7="" class="bg-info px-1 py-1 white font-medium-5" (click)="increaseTripItemAmount(bookableTripItem.id)">+</a>
        </div>
      </td>
      <td _ngcontent-c7="">€ {{bookableTripItem.price * bookableTripItem.amount}}</td>
    </tr>

    <tr _ngcontent-c7="">
      <td _ngcontent-c7=""></td>
      <td _ngcontent-c7=""></td>
      <td _ngcontent-c7=""></td>
      <td _ngcontent-c7=""></td>
      <td _ngcontent-c7="" style="font-weight: 600;">€ {{booking.getTotalPrice()}}</td>
    </tr>
  </tbody>
</table>
