<p>
  travelsummary works!
  {{travel.totalPrice}}
</p>

<!--<table _ngcontent-c7="" class="table table-responsive-md text-center">-->
<!--  <thead _ngcontent-c7="">-->
<!--    <tr _ngcontent-c7="">-->
<!--      <th _ngcontent-c7="">Image</th>-->
<!--      <th _ngcontent-c7="">Product</th>-->
<!--      <th _ngcontent-c7="">Price</th>-->
<!--      <th _ngcontent-c7="">Quantity</th>-->
<!--      <th _ngcontent-c7="">Amount</th>-->
<!--      <th _ngcontent-c7="">Delete</th>-->
<!--    </tr>-->
<!--  </thead>-->
<!--  <tbody _ngcontent-c7="">-->
<!--    <tr _ngcontent-c7="">-->
<!--      <td _ngcontent-c7="">-->
<!--        <img _ngcontent-c7="" alt="Generic placeholder image" class="media-object round-media" src="assets/img/elements/01.png" style="height: 75px;">-->
<!--      </td>-->
<!--      <td _ngcontent-c7="">Product 1</td>-->
<!--      <td _ngcontent-c7="">$9.97</td>-->
<!--      <td _ngcontent-c7=""> 2-->
<!--        <div _ngcontent-c7="" class="btn-group ml-1">-->
<!--          <a _ngcontent-c7="" class="bg-info px-1 py-1 white font-medium-5" href="javascript:void(0)">-</a>-->
<!--          <a _ngcontent-c7="" class="bg-info px-1 py-1 white font-medium-5" href="javascript:void(0)">+</a>-->
<!--        </div>-->
<!--      </td>-->
<!--      <td _ngcontent-c7="">$19.94</td>-->
<!--      <td _ngcontent-c7="">-->
<!--        <a _ngcontent-c7="" class="danger" data-original-title="" title="">-->
<!--          <i _ngcontent-c7="" class="ft-trash font-medium-3"></i>-->
<!--        </a>-->
<!--      </td>-->
<!--    </tr>-->

<!--    <tr _ngcontent-c7="" *ngFor="let tripItem of travel.tripItems">-->
<!--      <td _ngcontent-c7="">-->
<!--        <img _ngcontent-c7="" alt="Generic placeholder image" class="media-object round-media" src="assets/img/elements/07.png" style="height: 75px;">-->
<!--      </td>-->
<!--      <td _ngcontent-c7="">{{tripItem.description}}</td>-->
<!--      <td _ngcontent-c7="">{{tripItem.price}}</td>-->
<!--      <td _ngcontent-c7=""> 2-->
<!--        <div _ngcontent-c7="" class="btn-group ml-1">-->
<!--          <a _ngcontent-c7="" class="bg-info px-1 py-1 white font-medium-5" href="javascript:void(0)">-</a>-->
<!--          <a _ngcontent-c7="" class="bg-info px-1 py-1 white font-medium-5" href="javascript:void(0)">+</a>-->
<!--        </div>-->
<!--      </td>-->
<!--      <td _ngcontent-c7="">$12.00</td>-->
<!--      <td _ngcontent-c7="">-->
<!--        <a _ngcontent-c7="" class="danger" data-original-title="" title="">-->
<!--          <i _ngcontent-c7="" class="ft-trash font-medium-3"></i>-->
<!--        </a>-->
<!--      </td>-->
<!--    </tr>-->

<!--    <tr _ngcontent-c7="">-->
<!--      <td _ngcontent-c7=""></td>-->
<!--      <td _ngcontent-c7=""></td>-->
<!--      <td _ngcontent-c7=""></td>-->
<!--      <td _ngcontent-c7=""></td>-->
<!--      <td _ngcontent-c7=""></td>-->
<!--      <td _ngcontent-c7="">-->
<!--        <button _ngcontent-c7="" class="btn btn-success btn-raised">Continue</button>-->
<!--      </td>-->
<!--    </tr>-->
<!--  </tbody>-->
<!--</table>-->
