<div class="card horizontal" _ngcontent-lln-c13>
  <div class="card-content d-flex justify-content-between">
    <div class="card-img" [style.backgroundImage]="'url(' + (hotel?.imageBlob != null ? hotel?.imageBlob : '') +')'">
    </div>
    <div class="card-body" width-75-per>
      <div class="px-3 d-flex align-items-start flex-column" style="width: 100%">
        <h4 style="font-size: 30px" class="card-title">{{hotel?.name}}</h4>
        <p class="card-text">{{hotel?.description}}</p>
        <div class="row" style="height: 50px; width: 104%">
          <div class="col-6">
            <p style="font-size: 30px">€ {{hotel?.price}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
