.media.profil-cover-details{margin-top: -50px;}
#user-profile .profile-with-cover .profile-cover-buttons{position: absolute; top: 250px;  right: 0}
.profile-section .profile-menu {
  position: relative;
  top: -30px;
  padding-bottom: 0;
  padding-left: 15px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.btn {margin-bottom: 0px; margin-left: 5px;}
.card .card-header {
  padding: 1.5rem 1.5rem 0;
  border-bottom: none;
  background-color: transparent;}
