<div class="card selected-item-card">
  <div class="card-header" style="margin-left: 0px; margin-right: 0px; padding: 0px">
    <app-maps style="width: 100%; height: 100%"></app-maps>
  </div>
  <div class="card-content">
    <h5 class="m-2">Samenstelling reis</h5>
    <ul class="list-group">
      <div *ngFor="let hotel of travel.hotels">
        <li class="list-group-item list-group-item-action flex-column" *ngIf="hotel">
          <div class="row">
            <div class="col-8">{{hotel?.name}}</div>
            <div class="col-4 text-xl-right">€ {{hotel?.price}}</div>
          </div>
        </li>
      </div>
      <li class="list-group-item list-group-item-action flex-column"
          *ngFor="let tripItem of travel.tripItems"
          (click)="removeTripItem(tripItem)">
        <div class="row">
          <div class="col-8">{{tripItem.name}}</div>
          <div class="col-4 text-xl-right">€ {{tripItem.price}}</div>
        </div>
      </li>
      <li class="list-group-item flex-column">
        <div class="row">
          <div class="col-6"> Totale prijs</div>
          <div class="col-6 text-xl-right">€ {{travel.totalPrice}}</div>
        </div>
      </li>

      <li class="list-group-item flex-column">
        <div class="row">
          <div class="col-12 text-xl-right" style="padding-right: 10px;">
            <span *ngIf="!authenticationService.isAuthenticated()" class="btn btn-primary"
                  style="cursor:pointer; margin-bottom: 0px" (click)="openModal(template)">Login om te boeken
            </span>
            <span *ngIf="authenticationService.isAuthenticated()" class="btn btn-primary"
                  style="cursor:pointer; margin-bottom: 0px" (click)="bookTravel()">Boek deze reis
            </span>
          </div>
        </div>
      </li>
    </ul>

  </div>
</div>
<div>

  <ng-template #template>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Login</h4>
      <button type="button" class="close pull-right"
              aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <app-login-form (loginSuccessful)="didLoginSuccessful($event)"></app-login-form>
    </div>
  </ng-template>
