<div class="card horizontal">
  <div class="card-content d-flex justify-content-between">
    <div class="card-img"
         [style.backgroundImage]="'url(' + (tripItem.imageBlob != null ? tripItem.imageBlob : '') +')'"
          style="max-width: 30%; background-position: center;">
    </div>
    <div class="card-body width-75-per">
      <div class="px-3 d-flex align-items-start flex-column" style="width: 100%">
        <h4 class="card-title">{{tripItem.name}}</h4>
        <p class="card-text" style="width: auto;">{{tripItem.description}}</p>
        <div class="row" style="height: 50px; width: 104%">
          <div class="col-6">
            <p class="card-price">€ {{tripItem.price}}</p>
          </div>
          <div class="col-6" style="text-align: right; padding-right: 0;">
            <button class="btn btn-primary" (click)="addTripItem(tripItem)">Voeg toe aan mijn reis</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

