<section id="booking">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-sm-6">
              <h4 class="card-title">Bookings</h4>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="card-block">
            <div class="overflow-x">
              <ng2-smart-table [settings]="settings" [source]="source"></ng2-smart-table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
