<section class="bookings">
  <div class="row">
    <div class="col-4">
      <ul class="list-group">
        <a class="list-group-item"
           *ngFor="let booking of bookings"
           (click)="showBookingInfo(booking)">
          Boeking: {{booking.bookingDate | date}}
        </a>
      </ul>
    </div>
    <div class="col-8">
      <app-booked-item [booking]="selectedBooking" [trip]="trip" *ngIf="selectedBooking"></app-booked-item>
      <div *ngIf="!selectedBooking">
        <p>Nog geen booking gekozen</p>
      </div>
    </div>
  </div>
</section>

