<nav class="header-navbar navbar navbar-expand-lg navbar-dark bg-faded background-primary">
    <div class="container-fluid">
        <div class="navbar-header">
          <img src="/assets/img/logo-white.png" class="width-150">

        </div>
        <div class="navbar-container">

            <div class="collapse navbar-collapse" id="navbarSupportedContent" [ngbCollapse]="isCollapsed">
              <p class="text-light" *ngIf="loggedIn">Welkom {{user.firstname}}</p>
              <button class="btn btn-secondary color-light float-left clearfix" *ngIf="!loggedIn" routerLink="auth/login">Inloggen</button>
                <ul class="navbar-nav" *ngIf="loggedIn">
                    <li class="nav-item" ngbDropdown [placement]="placement">
                        <a class="nav-link position-relative" id="dropdownBasic3"  ngbDropdownToggle>
                            <i class="ft-user font-large-3 "></i>
                            <p class="d-none">User Settings</p>
                        </a>
                        <div ngbDropdownMenu aria-labelledby="dropdownBasic3" class="text-left">
                            <a class="dropdown-item py-1" href="javascript:;">
                                <i class="ft-settings mr-2"></i>
                                <span>Settings</span>
                            </a>
                            <a class="dropdown-item py-1" href="javascript:;" routerLink="/user">
                              <i class="ft-settings mr-2"></i>
                              <span>Users</span>
                            </a>
                            <a class="dropdown-item py-1" href="javascript:;" routerLink="/user/update/{{user.id}}">
                                <i class="ft-edit mr-2"></i>
                                <span>Edit Profile</span>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="javascript:;" (click)="logout()">
                                <i class="ft-power mr-2"></i>
                                <span>Uitloggen</span>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
