<section id="user-create">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-sm-6">
              <h4 class="card-title">Nieuwe Gebruiker aanmaken</h4>
            </div>
            <div class="col-sm-6">
              <a class="btn btn-raised btn-grey float-sm-right" (click)="back()">
                Terug
              </a>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="card-block">
            <form *ngIf="authorities != null" [formGroup]="userCreateForm" novalidate (ngSubmit)="submitForm(userCreateForm)">
              <div class="form-group">
                <label>Gebruikersnaam</label>
                <input type="text" name="username" formControlName="username" autocomplete="off"  class="form-control" [(ngModel)]="user.username">
              </div>

              <div class="form-group">
                <label>Voornaam</label>
                <input type="text" name="firstName" formControlName="firstName"  class="form-control" [(ngModel)]="user.firstname">
              </div>


              <div class="form-group">
                <label>Achternaam</label>
                <input type="text" name="lastName" formControlName="lastName"  class="form-control" [(ngModel)]="user.lastname">
              </div>

              <div class="form-group">
                <label>Email</label>
                <input type="email" name="email" formControlName="emailAddress"  class="form-control" [(ngModel)]="user.emailAddress">
              </div>

              <div class="form-group">
                <div class="password">
                  <label>Wachtwoord</label>
                  <input type="password" name="password" formControlName="password"  class="form-control" [(ngModel)]="user.password">
                </div>
              </div>
              <ng-select [items]="authorities"
                         formControlName="authorities"
                         bindLabel="name"
                         bindValue="id"
                         [multiple]="false"
                         [(ngModel)]="authority">
              </ng-select>

              <div class="form-actions">
                <div class="row">
                  <div class="col-12">
                    <button type="submit" class="btn btn-primary" [disabled]="!userCreateForm.valid">
                      <span>Gebruiker opslaan</span>
                      <i *ngIf="loading" class="ft-loader spinner right"></i>
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
