.card-img {
  background-size: cover;
  background-repeat: no-repeat;
}

.card-content {
  height: 100%;
}

.card-title {
  margin: 10px 0px 5px 0px;
}

.card-text {
  height:6em;
  overflow: hidden;
  width: 75ch;
  margin-bottom: 50px;
}
