<section id="booktravel">
  <aw-wizard>
    <aw-wizard-step stepTitle="Overzicht van de reis">
      <app-travel-summary [travel]="travel"></app-travel-summary>
      <button type="button" class="btn btn-primary buttonmargin" (click)="backToTravelPage()">Terug naar reis</button>
      <button type="button" class="btn btn-primary buttonmargin" awNextStep (click)="pushBooking()">Volgende stap
      </button>
    </aw-wizard-step>
    <aw-wizard-step stepTitle="Voer gegevens in" style="margin-top: 40px">
      <app-booking-traveler-information *ngIf="booking" [booking]="booking"
                                        (formValid)="enablePaymentStep($event)"></app-booking-traveler-information>
      <button type="button" class="btn btn-primary buttonmargin" awPreviousStep>Ga terug naar overzicht</button>
      <button type="button" class="btn btn-primary buttonmargin" awNextStep [disabled]="!paymentStepEnabled"
              (click)="pushTravelInformation()">Ga naar betaling
      </button>
    </aw-wizard-step>
    <aw-wizard-step stepTitle="Betaling">
      <app-payment *ngIf="savedBooking" [booking]="savedBooking" (paymentOut)="paymentOut($event)"></app-payment>
      <button type="button" class="btn btn-primary buttonmargin" awPreviousStep>Ga terug naar gegevens</button>
      <button type="button" class="btn btn-primary buttonmargin" awNextStep [disabled]="!paymentStepSucceeded">Volgende stap
      </button>
    </aw-wizard-step>
    <aw-wizard-step stepTitle="Bedankt">
    <app-booking-invoice *ngIf="savedBooking" [name]="travel.trip.name"  [booking]="savedBooking"></app-booking-invoice>
      <button type="button" class="btn btn-primary buttonmargin" (click)="finishFunction()">Ga verder naar homepage</button>
    </aw-wizard-step>
  </aw-wizard>
</section>
