/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */

/* @import url("assets/css/bootstrap.min.css"); */
/* @import url("../src/assets/css/prism.min.css");
@import url("../src/assets/css/sweetalert2.min.css");
@import url("../src/assets/css/bootstrap-timepicker.min.css");
@import url("../src/assets/css/wizard.css");
@import url("../src/assets/css/leaflet.css");
@import url("../src/assets/css/jquery-jvectormap-2.0.3.css");
@import url("../src/assets/css/ng2-toastr.min.css");
@import url("../src/assets/css/nouislider.min.css");
@import url("../src/assets/css/data-table/index.css");
@import url("../src/assets/css/data-table/icons.css");
@import url("../src/assets/css/demo.css"); */

.pace .pace-activity {
  top: 19px;
  right: 19px;
  display: none;
}
.page-loading {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
  background: rgba(51, 51, 51, 1.00);
  opacity: 0;
  transition: opacity 1s ease-in-out;
  z-index: -1;
}
.loading-icon {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 38px;
  height: 38px;
  margin-left: -19px;
  margin-top: -19px;
}
app-root:empty ~ .page-loading {
  opacity: 1;
  z-index: 1;
}

/*.card.card-inverse .card-blockquote .blockquote-footer, */
/*.card.card-inverse .card-link, */
/*.card.card-inverse .card-subtitle, */
/*.card.card-inverse .card-text, */
/*.card.card-inverse .card-title, */
/*.card.card-inverse .card-footer, */
/*.card.card-inverse a, */
/*.card.card-inverse a:hover, */
/*.card.card-inverse label, */
/*.card.card-inverse span, */
/*.card.card-inverse .form-group:hover, */
/*.card.card-inverse div, */
.card.card-inverse input {
  color: #000 !important;
}

.btn-primary, .btn-secondary{ color: #fff!important;}
section {max-width: 1170px; margin: 0 auto;}

.my-drop-zone {border: dotted 3px lightgray; background-color: #f5f7fa !important;}
.nv-file-over { border: dotted 3px #0B486B; }
.image-display-container{position: relative; max-width: 200px; padding: 0 10px;}
.image-display-container img {width: 100%; height: auto;}
.image-display-container span {position: absolute; top: -15px; right: 0;  color: #fff; background: #ff3d00; width: 30px; height: 30px; line-height: 30px; text-align: center; border-radius: 50%; cursor: pointer;}

